:root {
  --black: #212227ff;
  --white: #fdfffcff;
  --red: #f40000ff;
  --green: #0cce6bff;
  --blue: #3c91e6ff;
  --yellow: #facb0fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #game-grid, 
header,
.buttons-grid,
aside,
.button { border: 1px solid var(--white); } */

#page-game {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);

  height: 100vh;

  /* animation: error 80ms 1s 3 ease-in; */
}

#game-grid {
  display: grid;
  grid-template-rows: 50px 2fr;
  justify-content: center;
}

#game-grid header { 
  grid-row: 1;
  text-transform: uppercase;
  color: var(--white);
}

#game-grid .buttons-grid {
  display: grid;
  grid-template: auto auto / auto auto;

  align-items: center;
  justify-content: center;
  gap: 20px;
  
  grid-row: 2;
}

#game-grid .button {
  width: 100px;
  height: 100px;

  border-radius: 16px;

/*   animation: bip 100ms 1s 3 ease-in; */
}

#game-grid .button:active {
  box-shadow: 0 0 3px 3px var(--white);
}

/* Buttons Colors */
[data-color=red] {background-color: var(--red);}
[data-color=green] {background-color: var(--green);}
[data-color=blue] {background-color: var(--blue);}
[data-color=yellow] {background-color: var(--yellow);}